{%extends 'base.html'%}{% load static %} {% block content %}

<div class="container">

    <div class="row">
        <img src="{{image.image.url}}" class="img-responsive" alt="">
    </div>

    <div class="row">
        <h2 class="text-center"><strong>{{ image.image_name }}</strong> </h2>

        <p class="text-center"> {{ image.image_description }} </p>

        <p class="text-center"> Category: {{ image.image_category }} </p>
        <p class="text-center"> Location: {{ image.image_location }} </p>


        <button class="btn" data-clipboard-text="{{image.image_url}}">
                Copy image url
            </button>


    </div>



</div>

{% endblock %}